/*CSS DOCUMENT*/

/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body{
	background-color: rgb(255, 255, 255);
}

div.home-container { 
	background: url(images/backgroundhome.jpg) center center fixed;
	max-width: 60em;
	margin: auto;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
    max-width: 60em;
    margin: auto;
	background-color: rgb(250, 250, 250);
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
    /* grid-template-columns: 50% 50%; */
	padding: 1em .25em 7em .5em;
	margin-left: 1em;
	margin-right: 2em;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 8em auto;
	background-color: rgb(240 237 230);
	padding: 1.5em 0.75em 0.25em;
	}

h1 {
	width: 8em;
	margin-bottom: 1em;
    background-color: rgb(240 237 230);
	}

h2, h3, h4 {
	font-weight: 500;
	}

h2 {
	font-size: 2em;
	margin: .5em 0em 1em;
    font-family: "campaign-serif", sans-serif;
    font-weight: 700;
    font-style: bold;
	}
	
h3 {
	font-size: 1.5em;
	margin: .5em .0em .25em;
    font-family: "campaign-serif", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-style: italic;
}
h4 {
	display: grid;
	font-size: 1em;
	margin: .5em .0em .25em;
    font-family: "campaign-serif", sans-serif;
    font-weight: 700;
    font-style: bold;

}
article {
	max-width: 40em;
	margin: auto;
}

p.description {
	grid-column: 1/3;
	margin: 0em 0em 1em;
	display: grid;
    font-family: "oso-sans", sans-serif;
    font-weight: 400;
    font-style: bold;
	}

nav ul li {
	text-transform: uppercase;
    font-family: "campaign-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
	display: inline-block;
	margin-right: .5em;
	margin-top: 1em;
	margin-left: .5em;
	margin-bottom: 1.5em;
	float: right;
	}

nav ul li.selected a { 
	background-color: rgb(72, 57, 47);
	color: rgb(241, 218, 166);

} 
nav ul li a {
		color:rgb(72, 57, 47);
		background-color: rgb(241, 218, 166);
		font-weight: 1000;
		margin: 0em;
		padding: .5em .5em .5em;
		text-decoration: none;
		}

figure {
	margin-bottom: ____;
    display: grid;
    grid-template-columns: 75% 25%;
    margin: auto;
}

main.menu ul {
		margin: 0em;
}	

main.menu ul li {
		margin: .25em .25em .50em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
}	

p {
	margin-right: 0em;
	margin-top: 1em;
	margin-left: 0em;
	margin-bottom: 1em;
	letter-spacing: 0.05em;
	font-family: "oso-sans", sans-serif;
    font-weight: 400;
    font-style: bold;
	}

	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(187 100 71);
	text-align: right;
	margin: 0em;
	font-family: "oso-sans", sans-serif;
    font-weight: 400;
    font-style: bold;
	}
	

p.slogan {
	font-size: 4em;
	font-family: "campaign-serif", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 2em;
    margin-right: 0em ;
    margin-bottom: 1.5em;
    margin-left: 0em;
	color: rgb(72, 57, 47);
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  background: rgb(240 237 230);
  margin: 0em;
}

address {
	color: rgb(72, 57, 47);
    font-family: "campaign-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
	}

footer p {
	margin: 0;
	padding: 1em .5em 0em 1em;
    font-family: "campaign-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@media screen and (min-width: 60em) {

 ul.menu{
display:grid;
grid-template-columns: repeat(2, 1fr);
	}

p.price{
margin-right: 3em;	
	}

nav ul li a{
text-align: right;
margin: 1.5em 0em 1em;

}
}
